Options -Indexes
DirectoryIndex index.php

RewriteEngine On
RewriteRule ^(?:config|database|docs|scripts|src|storage|tests)(?:/|$) - [F,L,NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<FilesMatch "^\.(env|git|ht)">
  Require all denied
</FilesMatch>
